@import '/styles/theme.less';
@import '/styles/palettes.less';

page {
  background-color: var(--color-bg-global);
  color: var(--color-text-primary);
}

.page {
  height: 100vh;
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
}

.btn-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
