@import '/variable.less';

.custom-tab-bar {
  --td-tab-bar-bg-color: @color-tab-bar-bg;
  --td-tab-bar-border-color: @color-border-input;
  --td-brand-color: @color-primary;
  background: @color-tab-bar-bg;
}
